@using Zamyad.Exemption.Data.SocialDB;
@using Zamyad.Exemption.Service;
@model List<PersExemptionsView>;
<div class="row">
    <div class="border fw-bold mt-1">
        محدودیت شغلی
    </div>

</div>

@{
    var counter = 0;
}

<div class="row">
    @*table for exemption*@
    <table class="table table-bordered mb-0">
        <thead class="table-light">
            <tr>
                <th>رديف</th>
                <th>مركز هزينه </th>
                <th>نام واحد</th>
                <th>
                    عنوان شغل
                </th>
                <th>
                    نوع محدوديت
                </th>
                <th>
                    گروه محدوديت
                </th>
                <th>
                    تاريخ شروع
                </th>
                <th>
                    تاريخ پايان
                </th>
                <th>
                    مدت محدوديت
                </th>
                <th>
                    صف/ ستاد
                </th>
                <th>
                    پزشك طب كار
                </th>
                <th>
                    معاينات دوره اي
                </th>
                <th>
                    كميته سلامت
                </th>
                <th>
                    كميسيون پزشكي
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                
                foreach (var exem in Model)
                {
                    <tr>
                        <td>@(++counter)</td>
                        <td>@exem.CostCode</td>
                        <td>@exem.CostDesc</td>
                        <td>@exem.JobDesc</td>
                        <td>@exem.TypeDesc</td>
                        <td>@exem.CategoryDesc</td>
                        <td>@exem.StartDate</td>
                        <td>@exem.EndDate</td>
                        <td>
                            @{
                                var endResult = exem.EndDate.ToPersian();
                                var startResult = exem.StartDate.ToPersian();

                                var dif = endResult.IsError != true && startResult.IsError != true ?
                                endResult.CurentDataTime - startResult.CurentDataTime : null;

                            }
                            @dif?.Days
                        </td>
                        <td>صف یا ستاد</td>
                        <td>@exem.IsTebKar</td>
                        <td>@exem.IsDoreyi</td>
                        <td>@exem.IsSalamatCommittee</td>
                        <td>@exem.IsCommission</td>
                    </tr>
                }

                if (counter < 5)
                {
                    for (int i = counter; i < 5; i++)
                    {
                        <tr>
                        <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                        </tr>
                    }
                }

                

            }

            





        </tbody>
    </table>
    <div class="border mt-0 mb-1">

        به پیوست مراجعه شود




    </div>
</div>


